# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.*.local
.env.local
.env.development
.env.production
.env.test

# Build outputs
dist/
build/
.next/
out/
coverage/

# Turbo cache
.turbo/

# IDEs & Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# Logs or misc
logs
*.log

# Monorepo
packages/*/node_modules/
apps/*/node_modules/
